#{extends 'main.html' /}
#{set title:'Home' /}
#{include 'application/menu.html'/}
<link href="/public/wap/css/inside.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/public/wap/js/payfor.js"></script>

<!--main page1 -->

<div class="main cart m30 ">
    <div class="cart_step">
        <ul>
            <li class="current step1"><div><em>1</em><span>确认订单</span></div><p></p></li>
            <li class="step2"><div><em>2</em><span>选择支付方式</span></div><p></p></li>
            <li class="step3"><div><em>3</em><span>购买成功</span></div><p></p></li>
        </ul>
    </div>
    <div class="tips">购买成功后，糯米券将发到您的手机：<span>135****7598</span><a href="#">绑定新号码</a></div>
    <div class="cartlist">
        <ul class="cartlist_tit1">

            <li class="a0">商品</li>
            <li class="a1">单价(元)</li>
            <li class="a2">数量</li>
            <li class="a3">优惠</li>
            <li class="a4">小计(元)</li>
        </ul>

        <form name="form1" method="post" action="">
        #{list orderItems , as :'oi'}
            <dl class="cartlist_con1">

                <dd class="b0"><a href="#" target="_blank"><img src="/public/wap/img/10.jpg" width="160" ></a><p><a href="#" target="_blank">${oi?.goods?.name}</a></p></dd>
                <dd class="b1"><em id="price_item_1">￥${oi?.goods?.salePrice}</em></dd>
                <dd class="b2">
                    <div class="p_num">
                        <a href="javascript:;" class="min" onClick="setAmount.reduce('#qty_item_${oi_index}')">-</a>
                        <input type="text" name="qty_item_1" id="qty_item_${oi_index}" onKeyUp="setAmount.modify('#qty_item_${oi_index}')" value="${oi?.buyNumber}" >
                        <a href="javascript:;" class="add" onClick="setAmount.add('#qty_item_${oi_index}')">+</a>
                    </div>
                </dd>
                <dd class="b3">
                    -0.00￥
                </dd>
                <dd class="b4">
                    <div class="p_total">
                        <em class="total-font" id="total_item_1">￥39.00</em>
                        <input type="hidden" name="total_price" id="total_price" value="" />
                    </div>
                </dd>

            </dl>
        #{/list}

        </form>
        <div class="cartsettle1">
            <ul>
                <li class="a0">选择优惠：
                    <select name="select" id="select">
                        <option>疯狂一夏，满100减20</option>
                        <option>疯狂一夏，满200减50</option>
                        <option>疯狂一夏，满500减100</option>
                        <option>不使用优惠</option>

                    </select>
                </li>
                <li class="a1">
                    <input type="checkbox" name="checkbox" id="checkbox">
                    <label for="checkbox">使用抵券 -￥5.00</label>
                </li>
                <li class="a2">应付总额：<em><i>￥</i>${order?.amount}</em></li>
                <li class="a3"><a href="#">返回上一步</a> <a href="#" class="btn">确认</a></li>
            </ul>
        </div>

    </div>

