#{extends 'systemMain.html' /}
#{set title:'管理员后台' /}

<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">新增商户</strong> / <small>form</small></div>
    </div>

    <div class="am-tabs am-margin" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#tab1">基本信息</a></li>
        </ul>

        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                <form class="am-form" action="/system/merchant/create" method="POST">

                     #{include 'system/MerchantController/form.html'/}
                        <hr/>
                         <div class="am-g am-margin-top">
                             <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                 登录账号
                             </div>
                             <div class="am-u-sm-8 am-u-md-4">
                                 <input type="text" class="am-input-sm" id="loginName" name="merchantUser.loginName" value="">
                             </div>
                             <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                                 * #{error 'merchantUser.loginName' /}
                             </div>
                         </div>

                         <div class="am-g am-margin-top">
                             <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                 登录密码
                             </div>
                             <div class="am-u-sm-8 am-u-md-4">
                                 <input type="password" class="am-input-sm" id="tmpPassword" name="merchantUser.tmpPassword" value="">
                             </div>
                             <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                                 * #{error 'merchantUser.tmpPassword' /}
                             </div>
                         </div>

                         <div class="am-g am-margin-top">
                             <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                 用户手机
                             </div>
                             <div class="am-u-sm-8 am-u-md-4">
                                 <input type="text" class="am-input-sm" id="mobile" name="merchantUser.mobile" value="${merchantUser?.mobile}">
                             </div>
                             <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                                 * #{error 'merchantUser.mobile' /}
                             </div>
                         </div>
                         <div class="am-g am-margin-top">
                             <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                 用户状态
                             </div>
                             <div class="am-u-sm-8 am-u-md-4">
                                 <select id="status" name="merchantUser.status">
                                 #{list merchantStatuses , as :'ms'}
                                     <option ${merchantUser?.status == ms ? 'selected' : ''} value="${ms}">&{'merchantStatus.'+ ms}</option>
                                 #{/list}
                                 </select>
                             </div>
                             <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                                 * #{error 'merchantUser.status' /}
                             </div>
                         </div>
                         <div class="am-margin">
                             <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
                             <button type="button" class="am-btn am-btn-primary am-btn-xs" onclick="history.go(-1)">放弃保存</button>
                         </div>

                </form>
            </div>

        </div>
    </div>


</div>
<!-- content end -->