
<!-- content start -->
        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active" id="tab1">

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            商户名称
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <input type="text" class="am-input-sm" id="fullName" name="merchant.fullName" value="${merchant?.fullName}">
                        </div>
                            <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                                * #{error 'merchant.fullName' /}
                            </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            商户简称
                        </div>
                        <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
                            <input type="text" class="am-input-sm" id="shortName" name="merchant.shortName" value="${merchant?.shortName}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                            * #{error 'merchant.shortName' /}
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            联系电话
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <input type="text" class="am-input-sm" id="phone" name="merchant.phone" value="${merchant?.phone}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                            * #{error 'merchant.phone' /}
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            联系人
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <input type="text" class="am-input-sm" id="person" name="merchant.person" value="${merchant?.person}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                            * #{error 'merchant.person' /}
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            商户地址
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <input type="text" class="am-input-sm" id="address" name="merchant.address" value="${merchant?.address}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                            * #{error 'merchant.address' /}
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            佣金比例
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <input type="text" class="am-input-sm" id="address" name="merchant.feeRate" value="${merchant?.feeRate}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                            ‰ * #{error 'merchant.feeRate' /}
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            结算周期
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <input type="text" class="am-input-sm" id="address" name="merchant.stlmtPeriod" value="${merchant?.stlmtPeriod}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                            天 * #{error 'merchant.stlmtPeriod' /}
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            银行卡号
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <input type="text" class="am-input-sm" id="address" name="merchant.bankAccountId" value="${merchant?.bankAccountId}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                             * #{error 'merchant.bankAccountId' /}
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            开户人姓名
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <input type="text" class="am-input-sm" id="address" name="merchant.bankAccountName" value="${merchant?.bankAccountName}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                            * #{error 'merchant.bankAccountName' /}
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            开户行名称
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <input type="text" class="am-input-sm" id="address" name="merchant.bankName" value="${merchant?.bankName}">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                            * #{error 'merchant.bankName' /}
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            商户状态
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <select id="status" name="merchant.status">
                                #{list merchantStatuses , as :'ms'}
                                <option ${merchant?.status == ms ? 'selected' : ''} value="${ms}">&{'merchantStatus.'+ ms}</option>
                                #{/list}
                            </select>
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                            * #{error 'merchant.status' /}
                        </div>
                </div>
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        是否微信认证
                    </div>
                    <div class="am-u-sm-8 am-u-md-4">
                        <select id="status" name="merchant.isAuth">
                            <option ${merchant?.isAuth == false ? 'selected' : ''} value="0">未认证</option>
                            <option ${merchant?.isAuth == true ? 'selected' : ''} value="1">已认证</option>
                        </select>
                    </div>
                    <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                        * #{error 'merchant.isAuth' /}
                    </div>
                </div>
            </div>
        </div>

<!-- content end -->

<!-- 错误信息打印 -->
*{
#{ifErrors}

<h1>错误…</h1>

    #{errors}
    <li>${error}</li>
    #{/errors}

#{/ifErrors}}*
