
<script type="text/javascript">
    $(document).ready(function(){
        var dataJSON = "";
        $.ajax({
            type: 'GET',
            url: "http://img.ulmsale.cn/folderJSON?code=N9RXXkr6&loginName=admin&password=123456&callback=?" ,
            dataType : "jsonp",
            success: function (data){
                dataJSON = data;

            } ,
            error:function (data){
                alert("数据出错")
            }

        });


        $('#firstTree').tree({
            dataSource: function(options, callback) {
                // 模拟异步加载
                setTimeout(function() {
                    callback({data: options.products || dataJSON});
                }, 400);
            },
            multiSelect: false,
            cacheItems: true,
            folderSelect: true
        });

        $('#firstTree').on('selected.tree.amui', function (event, data) {
            var id = $('.am-tree-selected').attr("id");
            $('#firstTree').tree('openFolder', $('#'+id+"-label"));
            $('#folderId').val(id);
            //alert(id)
            $.ajax({
                type: 'POST',
                url: "http://img.ulmsale.cn/imageJSON?code=N9RXXkr6&callback=?" ,
                data: {folderId:id} ,
                dataType : "jsonp",
                success: function (data){
                    $('#image_ul').html('');

                    // 构造 li ...
                    var li="";
                    $.each(data,function(idx,type){
                        // alert(idx + "," + type.url);
                        li=li+"<li> <div class=\"am-gallery-item\">  <img src="+type.url+"  onclick=\"chockBox('"+type.uFid+"',"+type.id+")\" id=\"imgId"+type.id+"\"/> <h3 class=\"am-gallery-title\" style=\"text-align: center\">"+type.width+"*"+type.height+"</h3>    </div> </li>"

                    })
                    $('#image_ul').html(li);

                } ,
                error:function (){
                    alert("数据异常")
                }

            });

            // do something with data: { selected: [array], target: [object] }
        });
    });
        var checkType=false;
        var  num=-1;
    var map = {};
    function chockBox(id,imgId){
        if(checkType ==false){
            alert("请先选择图片类型");
            return;
        }
        var chooseId = $('#img_id_choose').val();
//       // alert("chooseId="+chooseId);
//        if ($('#imgId'+imgId).hasClass("am-img-thumbnail")){
//            $('#imgId'+imgId).removeClass("am-img-thumbnail")
//            var value=$('#imageId').val();
//            $('#imageId').val(value.replace(id+"_"+chooseId+",",""))
//        }else {
        var value1=$('#imageId').val();
        var imgurl=$('#imgId'+imgId).attr("src");
         $('#img_'+chooseId).attr("src" , $('#imgId'+imgId).attr("src"));
            $('#imageId').val(value1+id+'_'+num+'_'+imgurl+',')
        var value=$('#imageId').val();
        var arr1 = new Array();
         arr1=value.split(",")
        for(var i=0;i<arr1.length;i++) {
            if(arr1[i]!=""){
                map[''+num] = arr1[i];
            }
        }
        $('#imageId').val("")
        for(var key in map){
            $('#imageId').val($('#imageId').val()+map[key]+",");
    }
    }
    function ChangeBorderColor(id){
        checkType=true;
        $('#img_'+id).addClass("am-border-color");
        num=id
        $('#img_id_choose').val(id);
    }
</script>
<!-- content start -->
<div class="admin-content">
    <div class="am-tabs am-margin" data-am-tabs>
        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        图片上传
                    </div>
                    <div class="am-u-sm-10 am-u-md-10">
                        <div class="am-tabs" id="doc-my-tabs">
                            <ul class="am-tabs-nav am-nav am-nav-tabs am-nav-justify">
                                <li class="am-active"><a >图片空间上传</a></li>
                                <li><a>本地上传</a></li>
                            </ul>
                            <div class="am-tabs-bd">
                                <div class="am-tab-panel am-active">
                                    <!--目录树-->
                                    <div class="am-u-lg-4 am-u-sm-center">
                                        <ul class="am-tree" id="firstTree">
                                            <li class="am-tree-branch am-hide" data-template="treebranch">
                                                <div class="am-tree-branch-header">
                                                    <button class="am-tree-branch-name">
                                                        <span class="am-tree-icon am-tree-icon-folder"></span>
                                                        <span class="am-tree-label"></span>
                                                    </button>
                                                </div>
                                                <ul class="am-tree-branch-children"></ul>
                                                <div class="am-tree-loader"><span class="am-icon-spin am-icon-spinner"></span></div>
                                            </li>
                                            <li class="am-tree-item am-hide" data-template="treeitem">
                                                <button class="am-tree-item-name">
                                                    <span class="am-tree-icon am-tree-icon-item"></span>
                                                    <span class="am-tree-label"></span>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="am-u-lg-8">

                                        <ul data-am-widget="gallery" id="image_ul" class="am-gallery am-avg-sm-2
                                                am-avg-md-3 am-avg-lg-4 am-gallery-overlay" style="height:300px" data-am-gallery="{ pureview: false }">
                                        </ul>

                                    </div>
                                </div>
                                    <div class="am-u-sm-12 am-u-md-12" style="border:1px solid #ccc;">
                                        #{list productImageTypeList , as : 'productImageType'}
                                            <img id="img_${productImageType?.id}" width="100px" height="100px" src="" title="&{'imageType.'+productImageType?.imageType}" onclick="ChangeBorderColor('${productImageType?.id}')">
                                        #{/list}
                                    </div>

                                <div class="am-tab-panel">
                                    <input type="file" >
                                </div>
                                <input type="hidden" id="img_id_choose" />
                            </div>
                        </div>

                    </div>

                </div>
                <style>
                    .am-border-color{border:2px solid #f55000;}
                </style>
                <script>
                    $(function() {
                        $('#doc-my-tabs').tabs();
                    })

                </script>

        </div>
    </div>
</div>
</div>
<!-- content end -->