#{extends 'systemMain.html' /}
#{set title:'管理员后台' /}

<!-- content start -->
<div class="admin-content">
    #{if flash.get("error") != null && flash.get("error") != ''}
        <div class="am-alert am-alert-danger" data-am-alert>
            ${flash.get("error")}
        </div>
    #{/if}
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">商户续费</strong> / <small>${merchant?.fullName}</small></div>
    </div>

    <div class="am-tabs am-margin" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#tab1">基本信息</a></li>
        </ul>

        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                <form class="am-form" action="/system/merchantRenew/renew/update/${merchant?.id}" method="POST">
                         <div class="am-g am-margin-top">
                             <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                 到期时间
                             </div>
                             <div class="am-u-sm-8 am-u-md-4">
                                 <input type="text" class="am-input-sm" readonly value="${merchant?.expiredAt == null ? '未设置' : merchant?.expiredAt?.format('yyyy-MM-dd')}">
                             </div>
                             <div class="am-hide-sm-only am-u-md-6" style="color: red;">

                             </div>
                         </div>

                         <div class="am-g am-margin-top">
                             <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                 延期时间
                             </div>
                             <div class="am-u-sm-8 am-u-md-4">
                                 <input type="text" class="am-input-sm" id="expiredAt" name="renew.expireAt" value=""  class="am-form-field" placeholder="请选择延期日期" data-am-datepicker readonly>
                             </div>
                             <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                                 * #{error 'renew.expireAt' /}
                             </div>
                         </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            充值金额
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <input type="text" class="am-input-sm" id="price" name="renew.price" value="">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                            * #{error 'renew.price' /}
                        </div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            备注信息
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <input type="text" class="am-input-sm" id="remark" name="renew.remark" value="">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color: red;">

                        </div>
                    </div>
                         <div class="am-margin">
                             <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
                             <button type="button" class="am-btn am-btn-primary am-btn-xs" onclick="history.go(-1)">放弃保存</button>
                         </div>

                </form>
            </div>

        </div>
        <div class="am-g" style="margin-top:15px">
        <table class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
            <tr>
                <th>编号</th>
                <th>充值日期</th>
                <th>延期到期时间</th>
                <th>金额</th>
                <th>备注</th>
                <th>操作人</th>
            </tr>
            </thead>
            <tbody>
                #{list items:merchantRenewList , as :'renewlist'}
                    <tr class=" ${renewlist_index == 1 ? 'am-success' : ''}">
                        <td>${renewlist?.id}</td>
                        <td>${renewlist?.updateAt}</td>
                        <td>${renewlist?.expireAt}</td>
                        <td>${renewlist?.price}</td>
                        <td>${renewlist?.remark}</td>
                        <td>${renewlist?.operateUser?.loginName}</td>
                </tr>
                #{/list}
            </tbody>
        </table>
        </div>
    </div>

</div>
<!-- content end -->
<script>
    $(function() {
        var nowTemp = new Date();
        var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
        var expiredAt = $('#expiredAt').datepicker({
            onRender: function(date) {
                return date.valueOf() <= now.valueOf() ? 'am-disabled' : '';
            }
        }).on('changeDate.datepicker.amui', function(ev) {
            expiredAt.close();
        }).data('amui.datepicker');

    })
</script>