<div class="admin-content">
    <div class="am-tabs am-margin" data-am-tabs>
        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active" id="tab1">

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        大厅名称
                    </div>
                    <div class="am-u-sm-8 am-u-md-4">
                        <div id="nameStyle" class="am-form-group am-form-success">
                            <input type="text" id="name" name="merchantHall.name" value="${merchantHall?.name}" id="doc-ipt-warning" class="am-form-field">
                        </div>
                    </div>
                    <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                    #{error 'merchantHall.name'/}
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>