#{extends 'main.html' /}
#{set title:'Home' /}

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main" id="doc-modal-list">
                <thead>
                <tr>
                    <th class="table-check">
                        <input type="checkbox" />
                    </th>
                    <th class="table-id">ID</th>
                    <th class="table-title">商品名称</th>
                    <th class="table-date">原价</th>
                    <th class="table-date">售价</th>
                    <th class="table-date">数量</th>

                </tr>
                </thead>
                <tbody>
                #{list items: cartList , as:'carts'}
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>${carts?.id}</td>
                    <td>${carts?.goods?.name}</td>
                    <td>${carts?.goods?.originalPrice}</td>
                    <td>${carts?.goods?.salePrice}</td>
                    <td>${carts?.number}</td>

                   
                </tr>
                #{/list}
                </tbody>
            </table>
            <div class="am-cf" id="layerPage">
            </div>
        </form>
    </div>

</div>
<a href="">去结算</a>