<div class="admin-content">
    <div class="am-tabs am-margin" data-am-tabs>
        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active" id="tab1">

                   <div class="am-g am-margin-top">
                       <div class="am-u-sm-4 am-u-md-2 am-text-right">
                           一级类别名称
                       </div>
                       <div class="am-u-sm-8 am-u-md-4">
                           <select name="hallTable.hall.id">
                           #{list hallsList,as:'hall'}
                               *{<option ${product?.parentType?.id == productTypeList.id ? 'selected' : ''} value="${productTypeList?.id}">${productTypeList?.name}</option>}*
                         <option ${hall?.id==hallTable?.hall?.id ? 'selected="selected"':''} value="${hall?.id}">${hall?.name}</option>
                           #{/list}
                           </select>
                       </div>
                       <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                       #{error 'hallTable.hall' /}
                       </div>
                   </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                       桌号
                    </div>
                    <div class="am-u-sm-8 am-u-md-4">
                        <div id="nameStyle" class="am-form-group am-form-success">
                            <input type="text" id="name" name="hallTable.name" value="${hallTable?.name}" id="doc-ipt-warning" class="am-form-field">
                        </div>
                    </div>
                    <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                    #{error 'hallTable.name'/}
                    </div>
                </div>

                <div class="am-g am-margin-top">
                    <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        人数
                    </div>
                    <div class="am-u-sm-8 am-u-md-4">
                        <div id="nameStyle" class="am-form-group am-form-success">
                            <input type="text"  name="hallTable.peopleNum" value="${hallTable?.peopleNum}" id="doc-ipt-warning" class="am-form-field">
                        </div>
                    </div>
                    <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                    #{error 'hallTable.peopleNum'/}
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>