#{extends 'weixinMain.html' /}
#{set title:'悠悠点' /}
<script type="text/javascript" src="/public/weixin/js/jquery.spinner.js"></script>
<script type="text/javascript" src="/public/weixin/js/validate.js"></script>
<header class="topbar titbg">
  <a href="javascript:history.go(-1);" class="backBtn iconfont">&#xe621;</a>
    <div class="headtit">
       提交订单
    </div>
  <a href="#" data-reveal-id="myModal" class="btn_search iconfont">&#xe666;</a> 
</header>


<section class="warp submit page">
    <div class="price1">
        <p>您的菜品总金额：<em>￥${order?.amount}</em></p>
    </div>
    #{if useCoupon == '1'}
    <div class="submit_quan">
        <div class="tit">可使用的现金券(<i>10</i>张)</div>
        <ul>
            <li><a href="#"><img src="/public/weixin/images/quan50.jpg"><h3>50元现金券（<i>2</i>张）</h3><p>可抵扣<em>50元</em></p></a><span><input type="text" class="txtadd"/></span></li>
        </ul>
        <div class="tips">提示：现金券可叠加使用，现金券不找零不退款。</div>
    </div>
    #{/if}
    <div class="price">
        <p>需支付：<em>￥${order?.amount}</em></p><a href="@{weixin.Application.cancelOrder(orderNumber)}" class="btn2">取消此订单</a>
    </div>
    <div class="tit">填写订单信息</div>
    <div class="submit_info">
        <form id="subform" method="POST" action="@{weixin.Application.pay()}">

    <ul>
        <li><strong><i>*</i>姓名：</strong><span><input type="text" name="orderUser.name" style="width:100%;" class="editbox" id="name"></span></li>
        <li><strong><i>*</i>电话：</strong><span><input type="text" name="orderUser.phone" style="width:100%;"  class="editbox" id="phone"></span></li>
        <li><strong><i>*</i>桌号：</strong>
          <dl>
          #{list tableMap , as : 'tableList'}
              <dt>${tableList.key.name}</dt>
              #{list tableList.value , as :'table'}
            <dd id="spanid${table?.id}" onclick="changeSpan('${table?.id}')" ><span  >${table?.name}</span><em>${table?.peopleNum}</em></dd>
           #{/list}
          #{/list}
          </dl>
        </li>
        <li><strong>备注：</strong><span><input type="text" name="orderUser.remark" style="width:100%;"  class="editbox" id="remark"></span></li>
        <li> #{error 'orderUser.name' /} </li>
        <input type="hidden" id="selectableId" name="orderUser.hallTable.id" value="">
        <input type="hidden" name="orderNumber" value="${orderNumber}">
        <input type="text" name="useCoupon" value="${useCoupon}">
    </ul>
    </form>
  </div>
 

</section>
<div class="footbtn" >
  <a href="javascript:void(0)" class="btn1 radius5"  onclick="getSub()">提交订单</a>
</div>
#{include 'weixin/Application/modal.html'/}
<script type="text/javascript">
    $('.txtadd').spinner({});

    function getSub(){
        var name=$("#name").val();
        if (required(name) == false) {
            showAlart("姓名不能为空！");
            return;
        }
        var phone = $("#phone").val();
        if (required(phone) == false) {
            showAlart("手机号不能为空！");
            return;
        }
        if (isMobile(phone) == false) {
            showAlart("请输入正确的手机号！");
            return;
        }
        var hallTalbe=$("#selectableId").val();
        if (required(hallTalbe) == false) {
            showAlart("请选择桌号！");
            return;
        }
        $('#subform').submit();
    }
    function changeSpan(id){

        $(".current").each(function(){
            $(this).removeClass("current");
        });
        var span=$("#spanid"+id)
        if(span.hasClass("current")){
           span.removeClass("current")
            $("#selectableId").val("");
        }else{
            $("#selectableId").val("");
            $("#selectableId").val(id);
            span.addClass("current")
        }
    }
    </script>

</body>
</html>
