#{extends 'weixinMain.html' /}
#{set title:'悠悠点' /}
<header class="topbar titbg">
    <div class="logo"><em></em><span>悠悠点餐</span></div>
</header>
<!--焦点图开始-->
<div class="wrap banner swiper-container">
    <div class="swiper-wrapper" id="swiper-wrapper">

        <div class="swiper-slide" style="height: 327px; width: 640px;"><a href="#"><img src="/public/weixin/img/1.jpg" title="嘀嘀打车"></a></div>

        <div class="swiper-slide" style="height: 327px; width: 640px;"><a href="#"><img src="/public/weixin/img/2.jpg" title="MYOTee脸萌" width="640px" height="327px"></a></div>

        <div class="swiper-slide" style="height: 327px; width: 640px;"><a href="#"><img src="/public/weixin/img/3.jpg" title="百度魔图" width="640px" height="327px"></a></div>

        <div class="swiper-slide" style="height: 327px; width: 640px;"><a href="#"><img src="/public/weixin/img/4.jpg" title="QQ" width="640px" height="327px"></a></div>

        <div class="swiper-slide" style="height: 327px; width: 640px;"><a href="#"><img src="/public/weixin/img/5.jpg" title="天天动听" width="640px" height="327px"></a></div>

    </div>
    <div class="pagination"></div>
    <script type="text/javascript">
        var newSlideSize = function slideSize(){
            var w = Math.ceil($(".swiper-container").width()/1.96);
            $(".swiper-container,.swiper-wrapper,.swiper-slide").height(w);
        };
        newSlideSize();
        $(window).resize(function(){
            newSlideSize();
        });

        var mySwiper = new Swiper('.swiper-container',{
            pagination: '.pagination',
            loop:true,
            autoplay:3000,
            paginationClickable: true,
            onSlideChangeStart: function(){
                //回调函数
            }
        });
    </script>
</div>
<!--焦点图结束-->
<nav class="wrap">
    <a href="@{weixin.Application.products(models.common.enums.OrderGoodsType.DOT_FOOD)}" class="na0"><i class="iconfont">&#xe662;</i><em>我要点餐</em></a>
    <a href="@{weixin.Application.products(models.common.enums.OrderGoodsType.BOOK_FOOD)}" class="na1"><i class="iconfont">&#xe655;</i><em>我要预定</em></a>
    <a href="@{weixin.Application.products(models.common.enums.OrderGoodsType.TAKE_AYAY)}" class="na2"><i class="iconfont">&#xe646;</i><em>我要外卖</em></a>
    <a href="@{weixin.Application.products(models.common.enums.OrderGoodsType.PACK)}" class="na3"><i class="iconfont">&#xe653;</i><em>我要打包</em></a>
    <a href="/merchant/setmeal/index" class="na4"><i class="iconfont">&#xe661;</i><em>精品套餐</em></a>
</nav>
<div class="contact wrap" id="wrap">
    <h3>青岛悠悠小镇电子科技有限公司</h3>
    <ul>
        <li><a href="tel:+1 234 567 890"><i class="iconfont">&#xe63a;</i> <p><em>400-6577-707  0532-55719827</em><span>[咨询]</span></p></a></li>
        <li><a href="#"><i class="iconfont">&#xe608;</i> <p><em>青岛市崂山区银川东路18-2号201、202</em><span>[地图]</span></p></a></li>
        <li><i class="iconfont">&#xe635;</i> <p><em>联系人：张经理</em></p></li>
    </ul>
</div>

<section class="wrap page tuijian" id="wrap">
    <div class="tit"><span>优惠推荐</span></div>
    <ul class="tjlist">
        #{list couponBatchList , as :'batch'}
            <li><a href="@{weixin.CouponController.show(batch?.id)}"><div><h3>${batch?.name}</h3></div><img src="/public/weixin/images/quan${batch?.salePrice?.format("#")}.jpg"></a></li>
        #{/list}
        *{<li><a href="#"><div><h3>悠悠点餐8折优惠券</h3><p>先拿券后下单，优惠享不完！</p></div><img src="/public/weixin/img/p1.jpg"></a></li>}*
        *{<li><a href="#"><div><h3>悠悠点餐8折优惠券</h3><p>先拿券后下单，优惠享不完！</p></div><img src="/public/weixin/img/p3.jpg"></a></li>}*
    </ul>
</section>

<footer class="titbg">
    <a href="indx.html"><i class="iconfont">&#xe636;</i><em>首页</em></a>
    <a href="card.html"><i class="iconfont">&#xe66c;</i><em>优惠券</em></a>
    <a href="confirm.html"><i class="iconfont">&#xe631;</i><em>购物车</em></a>
    <a href="@{weixin.Application.member()}"><i class="iconfont">&#xe666;</i><em>会员</em></a>
</footer>
