#{extends 'weixinMain.html' /}
#{set title:'悠悠点' /}


<header class="topbar titbg">
  <a href="javascript:history.go(-1);" class="backBtn iconfont">&#xe621;</a>
    <div class="headtit">
       个人中心
    </div>
  <a href="#" data-reveal-id="myModal" class="btn_search iconfont">&#xe666;</a> 
</header>


<section class="warp member_index page">
  <div class="tit">
    <a href="member_account.html" class="radius5"><img src="public/weixin/img/tx1.jpg">
    <strong>13561997598<em>V1</em></strong><i class="iconfont">&#xe62c;</i></a>
  </div>
  <dl class="con">
    <dt><a href="member_order.html" class="btn_cd fl">我的菜单<em>(5)</em></a><a href="member_favorite.html" class="btn_sc fr">我的收藏 <em>(2)</em></a></dt>
    <dd><a href="member_card.html" class="radius5">我的抵用券<em>(1)</em><i class="iconfont">&#xe62c;</i></a></dd>
    <dd><a href="member_comment.html" class="radius5">我的评价<em>(10)</em><i class="iconfont">&#xe62c;</i></a></dd>
  </dl>
 
 

</section>
<footer class="titbg">
  <a href="indx.html"><i class="iconfont">&#xe636;</i><em>首页</em></a>
  <a href="card.html"><i class="iconfont">&#xe66c;</i><em>优惠券</em></a>
  <a href="confirm.html"><i class="iconfont">&#xe631;</i><em>购物车</em></a>
  <a href="member_index.html"><i class="iconfont">&#xe666;</i><em>会员</em></a>
</footer>

</body>
</html>
