<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我要点餐</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">


    <link rel="stylesheet" type="text/css" href="/public/weixin/css/global.css">
    <link rel="stylesheet" type="text/css" href="/public/weixin/css/public.css">
    <link rel="stylesheet" type="text/css" href="/public/weixin/css/style.css">
    <link rel="stylesheet" type="text/css" href="/public/weixin/css/iconfont/iconfont.css">




</head>
<body>

<header class="topbar titbg">
    <a href="javascript:history.go(-1);" class="backBtn iconfont">&#xe621;</a>
    <div class="headtit">
        在线点餐
    </div>
    <a href="#" data-reveal-id="myModal" class="btn_search iconfont">&#xe666;</a>
</header>

<aside class="leftbar">
    <h3>全部菜单</h3>
    <ul>
    #{list merchantProductTypeList , as :'productType'}
        <li class="menuItem ${productType_index == 1 ? 'active' : ''}">
            <a href="#r${productType_index-1}" >${productType?.name}
                <em id="productType_${productType?.id}">0</em>
            </a>
        </li>
    #{/list}
        <input type="hidden" name="productIds" id="productIds">
        <input type="hidden" name="product_id_value" id="product_id_value">
    </ul>

</aside>
<section class="rightbar">

    #{list merchantProductTypeList , as :'mpt'}
        <div id="r${mpt_index-1}" class="topspace"></div>
        <dl>
            <dt>${mpt?.name}</dt>
            #{list productMap.get(mpt?.id.toString()) , as :'product'}
                <dd>
                    <div class="tit">
                        <a href="../ChooseDishController/detail.html">
                            <h3>
                                <span>${product?.name}</span>
                                <em>${product?.salePrice}元</em>
                            </h3>
                        </a>
                        <p>
                            <input type="text" disabled product_salePrice="${product?.salePrice}" product_type="${mpt?.id}" product_id="${product?.id}"  class="txtadd"/>
                        </p>
                    </div>
                    <a href="javascript:void(0)">
                        <img src="/public/weixin/img/p1.jpg">
                    </a>
                </dd>
            #{/list}
        </dl>
    #{/list}
    <div class="footspace"></div>
</section>
<div class="footcart" >
    <form name="subform" id="subform" method="POST" action="/weixin/confirms" target="_blank" >
        <input type="hidden" name="carts" id="carts" value="">
        <input type="hidden" name="uuid" id="uuid" value="${uuid}">
        <input type="hidden" name="goodsType" value="${goodsType}">
    </form>
    <p class="active"><em id="productCount">0</em><span id="totalPrice">0.0元</span></p><a href="javascript:getSub()" class="btn0">确认订单</a>
</div>

<script type="text/javascript" src="/public/weixin/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/public/weixin/js/jquery.spinner.js"></script>
<script type="text/javascript" src="/public/weixin/js/stickUp.min.js"></script>
<script type="text/javascript" src="/public/weixin/js/jquery.reveal.js"></script>
<script type="text/javascript">
    //initiating jQuery
    jQuery(function($) {
        $(document).ready( function() {
            $('#carts').val('');
            //为 '.navbar-wrapper' class 启用stickUp插件
            $('.leftbar').stickUp({
                parts: {
                    0:'r0',
                    1:'r1',
                    2: 'r2',
                    3: 'r3',
                    4: 'r4',
                    5: 'r5',
                    6: 'r6',
                    7: 'r7'
                },
                itemClass: 'menuItem',
                itemHover: 'active'
            });
        });
    });
</script>

<script type="text/javascript">
    $('.txtadd').spinner({});
    function getSub(){
        var carts = $('#carts').val();
        if(carts== "" ||carts== null){
            showAlart("请选择商品！")
            return;
        }
        $('#subform').submit();
    }
</script>

<script type="text/javascript">
    function privateOperation(value , product_id , product_type , product_salePrice,type) {
        var totalCount=$("#productCount").html();
        var counts;
        var salePrice=$("#totalPrice").html();
        var totalPrice;
        if(type == 1){
            counts=parseInt(totalCount)+1;
            totalPrice=parseFloat(salePrice)+parseFloat(product_salePrice);
        }else if(type == -1){
            counts=parseInt(totalCount)-1;
            totalPrice=parseFloat(salePrice)-parseFloat(product_salePrice);
        }
        document.getElementById("productCount").innerHTML=counts;
        document.getElementById("totalPrice").innerHTML=totalPrice;


        var productIds = $('#productIds').val();
        var typeCount = $('#productType_'+product_type).html();
        var isHave = false;
        if(productIds != null && productIds.indexOf(",") >= 0) {
            var ids = productIds.split(",");
            for (var i=0; i < ids.length ;i++ )   {
                if(ids[i] == product_id) {
                    isHave = true;
                }
            }
        }
        if(value == 0) {
            var newIds = "";
            var ids = productIds.split(",");
            for (i=0;i<ids.length ;i++ )   {
                if(ids[i] != '' && ids[i] != product_id) {
                    newIds += ","+ids[i];
                }
            }
            $('#productIds').val(newIds);
            $('#productType_'+product_type).html(parseInt(typeCount) - 1)
        }

        var ids_count = $('#product_id_value').val();
        var newIds_count = "";
        //  4_5,5_2,6_1
        if(ids_count != null && ids_count != '' && ids_count.indexOf(",") >= 0) {
            var isHave2 = false;
            var ids_countArray = ids_count.split(",");
            for(var k = 0 ; k < ids_countArray.length ; k++) {
                var id_count = ids_countArray[k];
                if(id_count != null && id_count != '' && id_count.indexOf("_")) {
                    var pId = id_count.split("_")[0];
                    if(pId == product_id) {
                        if(value > 0) {
                            newIds_count += pId+"_"+value + ",";
                        }
                        isHave2 = true;
                    } else {
                        newIds_count += id_count + ",";
                    }
                }
            }
            if(!isHave2) {
                newIds_count += product_id+"_"+value;
            }
            $('#product_id_value').val(newIds_count);
        } else {
            var id_value = product_id+"_"+value+",";
            $('#product_id_value').val(id_value);
        }


        if(!isHave) {
            $('#productIds').val(productIds + "," + product_id);

            $('#productType_'+product_type).html(parseInt(typeCount) + 1)
        }
        var carts=$('#product_id_value').val();
        document.getElementById("carts").value=carts;
    }
</script>
</body>
</html>
