#{extends 'merchantMain.html' /}
#{set title:'管理员后台' /}

<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">添加子品牌</strong>  <small></small></div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    <a href="@{merchant.BrandController.add()}">
                        <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="am-u-sm-12 am-u-md-3">
            <form action="@{merchant.BrandController.index()}" id="searchForm" name="searchForm" method="POST" >
            <div class="am-input-group am-input-group-sm">
                    <input type="hidden" id="pageNumber" name="pageNumber" value="${pageNumber}">
                    <input type="text" class="am-form-field" name="searchName" placeholder="请输入商户名称搜索">
                      <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="submit">搜索</button>
                      </span>

            </div>
            </form>
        </div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12" id="doc-modal-list">
            <form class="am-form" action="@{merchant.BrandController.create()}" method="POST">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                    <tr>
                        <th class="table-title">品牌名称</th>
                        <th class="table-type">所属类别</th>
                        <th class="table-set">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 新增开始 -->
                        <tr>
                            <td>
                                <input type="text" name="brand.name" class="admin-form-text" style="width:260px" />
                                <input type="hidden" name="brand.brand.id" value="${brand?.id}" />
                            </td>
                            <td>${brand?.brand?.name}</td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                            <button type="submit" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only">
                                            <span class="am-icon-table"></span> 添加
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <!-- 新增结束 -->

                    <!-- 以往数据列举开始 -->
                    #{paginate.list items:resultPage , as :'bd'}
                    <tr>
                    <td>${bd?.name}</td>
                    <td>${brand?.brand?.name}</td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only">
                                    <a data-id="${bd.id}" href="#"></a><i class="am-icon-edit">修改名称</i>
                                </button>
                            </div>
                        </div>
                    </td>
                    </tr>
                    #{/paginate.list}


                    <!-- 以往数据列举结束 -->
                    </tbody>
                </table>
                <div class="am-cf" id="layerPage">
                </div>
            </form>
        </div>

    </div>
</div>
<!-- content end -->

<!-- 名称修改弹出层开始 -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
    <div class="am-modal-dialog">
        <div class="am-modal-bd">
            请输入新名称
            <input type="text" id="newName" name="name" class="am-modal-prompt-input">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>
<!-- 名称修改弹出层结束 -->
<script type="text/javascript">
    $(function() {
        $('#doc-modal-list').find('.am-icon-edit').add('#doc-confirm-toggle').
                on('click', function() {
                    $('#newName').val('');
                    $('#my-prompt').modal({
                        relatedTarget: this,
                        onConfirm: function(e) {
                            var $link = $(this.relatedTarget).prev('a');
                            var id = $link.data('id');
                            location.href="/merchant/updateName/"+id+"/"+ e.data;
                        }
//                        closeOnConfirm: false,
//                        onCancel: function() {
//                            alert('抱歉，您未重置密码！');
//                        }
                    });
                });
    });
</script>

