<!-- content start -->
<div class="admin-content">
    <form class="am-form am-form-horizontal">
        <div class="am-form-group">
            <label for="doc-ipt-2" class="am-u-sm-1 am-form-label">编号</label>
            <label for="doc-ipt-2" class="am-u-sm-2 am-form-label">类型名称</label>
            <div class="am-u-sm-3">
                宽度
            </div>
            <div class="am-u-sm-3">
                高度
            </div>
            <div class="am-u-sm-2">
                操作
            </div>
        </div>
    </form>
#{list imageTypes , as :'its'}
    <form class="am-form am-form-horizontal">
        <div class="am-form-group">
            <label for="doc-ipt-2" class="am-u-sm-1 am-form-label">${its_index}</label>
            <label for="doc-ipt-2" class="am-u-sm-2 am-form-label">&{'imageType.'+its}</label>
            <div class="am-u-sm-3">
                <input type="email" id="doc-ipt-3" placeholder="请输入图片宽度">
            </div>
            <div class="am-u-sm-3">
                <input type="email" id="doc-ipt-3" placeholder="请输入图片高度">
            </div>
            <div class="am-u-sm-2">
                <button class="btn am-btn-success">提交</button>
            </div>
        </div>
    </form>

#{/list}

</div>
<!-- content end -->