#{extends 'systemMain.html' /}
#{set title:'管理员后台' /}

<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">图片管理</strong>  <small></small></div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                    *{<a href="/system/productImageType/create">}*
                        *{<button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>}*
                    *{</a>}*
                </div>
            </div>
        </div>

        <div class="am-u-sm-12 am-u-md-3">
            <form action="/system/productImageType" id="searchForm" name="searchForm" method="POST" >
            <div class="am-input-group am-input-group-sm">
                    <input type="hidden" id="pageNumber" name="pageNumber" value="${pageNumber}">
                    <input type="text" class="am-form-field" name="searchName" placeholder="请输入类别名称搜索">
                      <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="submit">搜索</button>
                      </span>

            </div>
            </form>
        </div>
    </div>

    <div class="am-g">
        <form class="am-form am-form-horizontal">
            <div class="am-form-group" style="text-align: center">
                <div class="am-u-sm-1">编号</div>
                <div  class="am-u-sm-2">类型名称</div>
                <div class="am-u-sm-3">
                    宽度
                </div>
                <div class="am-u-sm-3">
                    高度
                </div>
                <div class="am-u-sm-3">
                    操作
                </div>
            </div>
        </form>
    #{list imageTypes , as :'its'}
        <form action="@{system.ProductImageTypeController.create()}" class="am-form am-form-horizontal">
            <div class="am-form-group">
                <div for="doc-ipt-2" class="am-u-sm-1">${its_index}</div>
                <div for="doc-ipt-2" class="am-u-sm-2">&{'imageType.'+its}
                 <input type="hidden" name="productImageType.imageType" value="${its}">
                 <input type="hidden" name="productImageType.id" value="${pit.findIdByImageType(its)}">
                </div>
                <div class="am-u-sm-3">
                    <input type="text" id="width" value="${pit.findWidthByImageType(its)}" name="productImageType.width" placeholder="请输入图片宽度">
                </div>
                <div class="am-u-sm-3">
                    <input type="text" id="height" value="${pit.findHeightByImageType(its)}" name="productImageType.height" placeholder="请输入图片高度">
                </div>
                <div class="am-u-sm-3">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="submit" class="am-btn am-btn-default am-btn-xs am-text-secondary" >
                                <span class="am-icon-pencil-square-o"></span> 保存
                            </button>
                            *{<button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only ">}*
                                *{<a data-id="${productImage?.id}" href="#"></a><i class="am-icon-trash-o">删除</i>}*
                            *{</button>}*
                        </div>
                    </div>
                </div>
            </div>
        </form>

    #{/list}
        </div>

    </div>
</div>
<!-- content end -->
<!-- 删除弹出提示开始 -->
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">删除</div>
        <div class="am-modal-bd">
            您，确定要删除吗？
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('#doc-modal-list').find('.am-icon-trash-o').add('#doc-confirm-toggle').
                on('click', function() {
                    $('#my-confirm').modal({
                        relatedTarget: this,
                        onConfirm: function(options) {
                            var $link = $(this.relatedTarget).prev('a');
                            var id = $link.data('id');
                            location.href="/system/productImageType/delete/"+id;
                        },
//                        closeOnConfirm: false,
                        onCancel: function() {
                            alert('抱歉，您未重置密码！');
                        }
                    });
                });
    });

</script>
<!-- 删除弹出提示结束 -->
<script type="text/javascript">
    $(document).ready(function(){
        laypage({
            cont: $('#layerPage'), //容器。值支持id名、原生dom对象，jquery对象,
            pages: '${resultPage?.pageCount}', //总页数
            skin: '#AF0000',
            curr:'${pageNumber}',
            jump: function(e){ //触发分页后的回调
                if(e.curr != '${pageNumber}'){
                    $('#pageNumber').val(e.curr);
                    $('#searchForm').submit();
                }
            }
        });
    });

</script>