@charset "utf-8";



/* 

 front group public style, applicable to all wap page.

. Name: global.css-1.0.0

*/

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body{padding: 0;margin: 0; height:100%;line-height: 1;}

body{ font-family: Microsoft YaHei, Arial, sans-serif;
font-weight: normal; 
font-style: normal; 
font-size: 12px; 
line-height: 1; 
position: relative; 
-webkit-font-smoothing: antialiased; 
color: #333; vertical-align: baseline;
-webkit-text-size-adjust: none; -webkit-font-smoothing: antialiased;  
text-align:center;

}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,button,input,textarea{padding:0px; margin:0px; border:none;}



a,a:visited{ color:#333; text-decoration:none;}

a:active,

a:hover { text-decoration:none;}

a:focus,

input:hover,

button:hover,

input[type='button']:hover{ outline:none;}

i, 

em, 

cite { font-style: normal; }

ul,li,dl,dt,dd{ overflow:hidden; list-style:none; margin:0; padding:0;}

body, 

button, 

input, 

select, 

textarea{ outline:none;}



/* 禁止webkit横屏改变字体大小 */

html{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}



/* 设置HTML5元素为块 */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;padding:0px; margin:0px; border:none;}



/* 超出隐藏 */

.overflow{ overflow:hidden;} 



/* 点击去除阴影 */

a,button,input,i{-webkit-tap-highlight-color:rgba(0,0,0,0); -moz-tap-highlight-color:rgba(0,0,0,0); -ms-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}       

		          

/* float */

.fl{ float: left; }

.fr{ float: right;}



/* 图片自适应调整 并解决图片缩放的失真问题*/

img{ max-width:100%; height:auto;border:none; interpolation-mode: bicubic;}



/* 文字居中 */

.txt-center{ text-align:center;}

.txt-justify{ text-align:justify; text-justify:inter-ideograph;}



/* 自动换行 */

.word-auto{word-wrap: break-word;word-break: normal;}



/* 自动居中 */

.mg-auto{ margin-left:auto; margin-right:auto; position:relative;}



/* clearfix */  

.clearfix:after{ visibility: hidden;display: block;font-size: 0;content:" ";clear: both;height: 0;}

.clearfix{ *zoom:1;}



/* transtion-Hover */

.tianstion{ 

    transition:all ease 0.4s; 

	-moz-transition:all ease 0.4s; 

	-ms-transition:all ease 0.4s; 

	-o-transition:all ease 0.4s;

	-webkit-transition:all ease 0.4s;

}

.area{ width:100%;}

.wrap{ max-width:640px; position:relative; margin:0 auto;}


@media screen and (max-width : 360px) {	

	body{ font-size:11px;}

	.wrap{ width:100%;}

}



@media screen and (min-width: 360px) and (max-width : 479px) {

	body{ font-size:12px;}

	.wrap{ width:100%;}	

}



@media screen and (min-width: 480px) and (max-width: 640px) {

	body{ font-size:15px;}

	.wrap{ width:100%;}	

}


.page{ padding:20px 15px;}
.hr0{height:1px;border:none;border-top:1px solid #dddddd; margin:20px 0;}
.hr1{height:1px;border:none;border-top:1px dashed #eeeeee; margin:20px 0;}
.radius5{-moz-border-radius:5px; -webkit-border-radius:5px;  border-radius:5px;}

