#{extends 'main.html' /}
#{set title:'Home' /}
<script type="text/javascript">
    $(function(){
        $('.mtab').Tabs();
        $('.mtab1').Tabs();
        $('.mtab2').Tabs();
        $('.mtab3').Tabs();
        $('.mtab4').Tabs();
        $('.mtab5').Tabs();
        $('.mtab6').Tabs();
        $('.mtab7').Tabs();
        $('.mtab8').Tabs();
        $('.mtab9').Tabs();
        $('.mtab10').Tabs();
    });
</script>

<!--促销 -->
<div class="main m20 cuxiao mtab">
    <ul class="tab_menu">
        <li class="current"><a href="#">天天特价</a> |</li>
        <li><a href="#">超值促销</a> |</li>
        <li><a href="#">推荐农特产</a> |</li>
        <li><a href="#">新品上市</a></li>
    </ul>
    <div class="tab_box">
        <div>
            <ul>
                <li><a href="#"><img src="/public/wap/img/10.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/11.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/12.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/13.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/14.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/15.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>

            </ul>
        </div>
        <div class="hide">
            <ul>
                <li><a href="#"><img src="/public/wap/img/12.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/11.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/10.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/13.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/14.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/15.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>

            </ul>
        </div>
        <div class="hide">
            <ul>
                <li><a href="#"><img src="/public/wap/img/13.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/11.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/10.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/13.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/14.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/15.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>

            </ul>
        </div>
        <div class="hide">
            <ul>
                <li><a href="#"><img src="/public/wap/img/15.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/11.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/10.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/13.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/14.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>
                <li><a href="#"><img src="/public/wap/img/15.jpg" width="190" height="135"></a>
                    <h4><a href="#">优粮我卖网自营大鹏香菇500克/份</a></h4>
                    <p><strong>￥<i>16.80</i></strong><span>￥25.00</span></p>
                </li>

            </ul>
        </div>
    </div>
</div>

<!--main page1 -->

#{list productTypeList , as :'type'}
<div class="main ${type_index == 1 ? 'm20' : 'm30'} mf${type_index}">
    <div class="main_left left">
        <div class="maint"><i class="iconfont">&#xe62e;</i><em>${type_index}F ${type?.name}</em></div>
        <ul>
            #{list type?.brands(type?.id) , as :'typeBrand'}
            <li><a href="#">${typeBrand?.brand?.name}</a></li>
            #{/list}
        </ul>
        <a href="#"><img src="/public/wap/img/pic1.jpg" width="200" height="218"></a>
    </div>
    <div class="main_right left mtab1">
        <ul class="tab_menu left">
            #{list type?.findByParentType(type?.id) , as :'childType'}
            <li class="${childType_index == 1 ? 'current' : ''} "><a href="#">${childType?.name}</a></li>
            #{/list}
        </ul>
        <div class="tab_box">
          #{list type?.findByParentType(type?.id) , as :'productType'}
            <div class="${productType_index == 1 ? '' : 'hide'}" >
                <ul>

                      #{list productType.products(productType?.id) , as :'product'}
                            <li><a href="@{wap.OrderController.pay(product?.id , 1)}"><img src="/public/wap/img/20.jpg" width="185" height="130"></a>
                                <h4><a href="#">${product?.name} ${product?.standard}</a></h4>
                                <p><strong>￥<i>${product?.salePrice}</i></strong></p>
                            </li>
                      #{/list}
                </ul>
            </div>
            #{/list}
        </div>
    </div>
</div>

<div class="mpic m30"><a href="#"><img src="/public/wap/img/pic.jpg" width="1200" height="80"></a></div>

#{/list}



