<!--menu -->
<div class="menubg">
    <div class="menu" >
        <DIV class="menuNav">
            <H2>全部商品分类</H2>
            <DIV id="SNmenuNav" class="navlist">
                <DL>
                    <DT>
                        <i class="iconfont green">&#xe62e;</i>
                    <h3><a href="#" target=_blank>水果蔬菜</a></h3>
                    <p><a href="#">水果</a> <a href="#">蔬菜</a> <a href="#">果蔬礼盒</a></p>
                    </DT>
                    <DD class="menv01">
                        <UL class="sideleft">
                            <LI class="noline"><B><a href="#">生鲜</a></B>
                                <DIV>
                                    <A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B><a href="#">冲调饮品</a></B>
                                <DIV><A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B><a href="#">充电配件</a></B>
                                <DIV><A title=标准电池
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20017_.html"
                                        target=_blank>标准电池</A> <A title=商务电池
                                                                  href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20018_.html"
                                                                  target=_blank>商务电池</A> <A title=充电器
                                                                                            href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20020_.html"
                                                                                            target=_blank>充电器</A> <A title=备用电源
                                                                                                                     href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_179001_.html"
                                                                                                                     target=_blank>备用电源</A> </DIV>
                                <SPAN class=clear></SPAN></LI>
                            <LI><B><a href="#">数据配件</a></B>
                                <DIV><A title=存储卡
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20025_.html"
                                        target=_blank>存储卡</A> <A title=读卡器
                                                                 href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20026_.html"
                                                                 target=_blank>读卡器</A> <A title=数据线
                                                                                          href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20028_.html"
                                                                                          target=_blank>数据线</A> <A title=3G上网卡
                                                                                                                   href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_207003_.html"
                                                                                                                   target=_blank>3G上网卡</A> </DIV>
                                <SPAN class="clear"></SPAN></LI>
                        </UL>
                        <!--<UL class="sideright">
                          <H3>品牌推荐</H3>
                          <LI><A  href="#" target=_blank>雪青</A></LI>
                          <LI><A  href="#" target=_blank>绿雪芽</A></LI>
                        </UL> -->
                    </DD>
                </DL>
                <DL>
                    <DT class="bg">
                        <i class="iconfont red">&#xe609;</i>
                    <h3><a href="#" target=_blank>肉类禽蛋</a></h3>
                    <p><a href="#">猪肉</a> <a href="#">牛肉</a> <a href="#">鸡肉</a></p>
                    </DT>
                    <DD class="menv02">
                        <UL class="sideleft">
                            <LI class="noline"><B><a href="#">休闲食品</a></B>
                                <DIV>
                                    <A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B>冲调饮品</B>
                                <DIV><A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B>充电配件</B>
                                <DIV><A title=标准电池
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20017_.html"
                                        target=_blank>标准电池</A> <A title=商务电池
                                                                  href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20018_.html"
                                                                  target=_blank>商务电池</A> <A title=充电器
                                                                                            href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20020_.html"
                                                                                            target=_blank>充电器</A> <A title=备用电源
                                                                                                                     href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_179001_.html"
                                                                                                                     target=_blank>备用电源</A> </DIV>
                                <SPAN class=clear></SPAN></LI>
                            <LI><B>数据配件</B>
                                <DIV><A title=存储卡
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20025_.html"
                                        target=_blank>存储卡</A> <A title=读卡器
                                                                 href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20026_.html"
                                                                 target=_blank>读卡器</A> <A title=数据线
                                                                                          href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20028_.html"
                                                                                          target=_blank>数据线</A> <A title=3G上网卡
                                                                                                                   href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_207003_.html"
                                                                                                                   target=_blank>3G上网卡</A> </DIV>
                                <SPAN class="clear"></SPAN></LI>
                        </UL>

                    </DD>
                </DL>
                <DL>
                    <DT>
                        <i class="iconfont blue">&#xe62f;</i>
                    <h3><a href="#" target=_blank>海鲜水产</a></h3>
                    <p><a href="#">鱼</a> <a href="#">虾</a> <a href="#">贝</a></p>
                    </DT>

                    <DD class="menv03">
                        <UL class="sideleft">
                            <LI class="noline"><B><a href="#">进口美食</a></B>
                                <DIV>
                                    <A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B>冲调饮品</B>
                                <DIV><A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B>充电配件</B>
                                <DIV><A title=标准电池
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20017_.html"
                                        target=_blank>标准电池</A> <A title=商务电池
                                                                  href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20018_.html"
                                                                  target=_blank>商务电池</A> <A title=充电器
                                                                                            href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20020_.html"
                                                                                            target=_blank>充电器</A> <A title=备用电源
                                                                                                                     href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_179001_.html"
                                                                                                                     target=_blank>备用电源</A> </DIV>
                                <SPAN class=clear></SPAN></LI>
                            <LI><B>数据配件</B>
                                <DIV><A title=存储卡
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20025_.html"
                                        target=_blank>存储卡</A> <A title=读卡器
                                                                 href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20026_.html"
                                                                 target=_blank>读卡器</A> <A title=数据线
                                                                                          href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20028_.html"
                                                                                          target=_blank>数据线</A> <A title=3G上网卡
                                                                                                                   href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_207003_.html"
                                                                                                                   target=_blank>3G上网卡</A> </DIV>
                                <SPAN class="clear"></SPAN></LI>
                        </UL>

                    </DD>
                </DL>
                <DL>
                    <DT class="bg">
                        <i class="iconfont orange">&#xe604;</i>
                    <h3><a href="#" target=_blank>粮油副食</a></h3>
                    <p><a href="#">大米</a> <a href="#">食用油</a> <a href="#">面粉</a></p>
                    </DT>

                    <DD class="menv04">
                        <UL class="sideleft">
                            <LI class="noline"><B><a href="#">粮油</a></B>
                                <DIV>
                                    <A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B>冲调饮品</B>
                                <DIV><A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B>充电配件</B>
                                <DIV><A title=标准电池
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20017_.html"
                                        target=_blank>标准电池</A> <A title=商务电池
                                                                  href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20018_.html"
                                                                  target=_blank>商务电池</A> <A title=充电器
                                                                                            href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20020_.html"
                                                                                            target=_blank>充电器</A> <A title=备用电源
                                                                                                                     href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_179001_.html"
                                                                                                                     target=_blank>备用电源</A> </DIV>
                                <SPAN class=clear></SPAN></LI>
                            <LI><B>数据配件</B>
                                <DIV><A title=存储卡
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20025_.html"
                                        target=_blank>存储卡</A> <A title=读卡器
                                                                 href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20026_.html"
                                                                 target=_blank>读卡器</A> <A title=数据线
                                                                                          href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20028_.html"
                                                                                          target=_blank>数据线</A> <A title=3G上网卡
                                                                                                                   href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_207003_.html"
                                                                                                                   target=_blank>3G上网卡</A> </DIV>
                                <SPAN class="clear"></SPAN></LI>

                        </UL>

                    </DD>
                </DL>
                <DL>
                    <DT>
                        <i class="iconfont cyan">&#xe613;</i>
                    <h3><a href="#" target=_blank>零食冲饮</a></h3>
                    <p><a href="#">日照绿茶</a> <a href="#">休闲食品</a></p>
                    </DT>

                    <DD class="menv05">
                        <UL class="sideleft">

                            <LI class="noline"><B><a href="#">酒水</a></B>
                                <DIV>
                                    <A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B>冲调饮品</B>
                                <DIV><A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B>充电配件</B>
                                <DIV><A title=标准电池
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20017_.html"
                                        target=_blank>标准电池</A> <A title=商务电池
                                                                  href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20018_.html"
                                                                  target=_blank>商务电池</A> <A title=充电器
                                                                                            href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20020_.html"
                                                                                            target=_blank>充电器</A> <A title=备用电源
                                                                                                                     href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_179001_.html"
                                                                                                                     target=_blank>备用电源</A> </DIV>
                                <SPAN class=clear></SPAN></LI>
                            <LI><B>数据配件</B>
                                <DIV><A title=存储卡
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20025_.html"
                                        target=_blank>存储卡</A> <A title=读卡器
                                                                 href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20026_.html"
                                                                 target=_blank>读卡器</A> <A title=数据线
                                                                                          href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20028_.html"
                                                                                          target=_blank>数据线</A> <A title=3G上网卡
                                                                                                                   href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_207003_.html"
                                                                                                                   target=_blank>3G上网卡</A> </DIV>
                                <SPAN class="clear"></SPAN></LI>
                        </UL>

                    </DD>
                </DL>
                <DL>
                    <DT class="bg">
                        <i class="iconfont pink">&#xe62b;</i>
                    <h3><a href="#" target=_blank>生态日用</a></h3>
                    <p><a href="#">小家电</a> <a href="#">洗衣粉</a> <a href="#">牙膏</a></p>
                    </DT>
                    <DD class="menv06">
                        <UL class="sideleft">
                            <LI class="noline"><B><a href="#">特产</a></B>
                                <DIV>
                                    <A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B>冲调饮品</B>
                                <DIV><A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B>充电配件</B>
                                <DIV><A title=标准电池
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20017_.html"
                                        target=_blank>标准电池</A> <A title=商务电池
                                                                  href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20018_.html"
                                                                  target=_blank>商务电池</A> <A title=充电器
                                                                                            href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20020_.html"
                                                                                            target=_blank>充电器</A> <A title=备用电源
                                                                                                                     href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_179001_.html"
                                                                                                                     target=_blank>备用电源</A> </DIV>
                                <SPAN class=clear></SPAN></LI>
                            <LI><B>数据配件</B>
                                <DIV><A title=存储卡
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20025_.html"
                                        target=_blank>存储卡</A> <A title=读卡器
                                                                 href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20026_.html"
                                                                 target=_blank>读卡器</A> <A title=数据线
                                                                                          href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20028_.html"
                                                                                          target=_blank>数据线</A> <A title=3G上网卡
                                                                                                                   href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_207003_.html"
                                                                                                                   target=_blank>3G上网卡</A> </DIV>
                                <SPAN class="clear"></SPAN></LI>
                        </UL>

                    </DD>
                </DL>
                <DL>
                    <DT style="border:0;">
                        <i class="iconfont yellow">&#xe60d;</i>
                    <h3><a href="#" target=_blank>手工艺品</a></h3>
                    <p><a href="#">珊瑚饰品</a> <a href="#">根雕</a> <a href="#">贝壳</a></p>
                    </DT>

                    <DD class="menv07">
                        <UL class="sideleft">
                            <LI class="noline"><B><a href="#">婴儿食品</a></B>
                                <DIV>
                                    <A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B>冲调饮品</B>
                                <DIV><A title="糖果/巧克力" href="#" target="_blank">糖果/巧克力</A>
                                    <A title="休闲小吃" href="#" target="_blank">休闲小吃</A>
                                    <A title="饼干/糕点" href="#" target="_blank">饼干/糕点</A>
                                    <A title="节日食用品" href="#" target="_blank">节日食用品</A>
                                    <A title="其他休闲食品" href="#" target="_blank">其他休闲食品</A>
                                </DIV>
                                <SPAN class="clear"></SPAN>
                            </LI>
                            <LI><B>充电配件</B>
                                <DIV><A title=标准电池
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20017_.html"
                                        target=_blank>标准电池</A> <A title=商务电池
                                                                  href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20018_.html"
                                                                  target=_blank>商务电池</A> <A title=充电器
                                                                                            href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20020_.html"
                                                                                            target=_blank>充电器</A> <A title=备用电源
                                                                                                                     href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_179001_.html"
                                                                                                                     target=_blank>备用电源</A> </DIV>
                                <SPAN class=clear></SPAN></LI>
                            <LI><B>数据配件</B>
                                <DIV><A title=存储卡
                                        href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20025_.html"
                                        target=_blank>存储卡</A> <A title=读卡器
                                                                 href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20026_.html"
                                                                 target=_blank>读卡器</A> <A title=数据线
                                                                                          href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_20028_.html"
                                                                                          target=_blank>数据线</A> <A title=3G上网卡
                                                                                                                   href="http://www.update8.comwebapp/wcs/stores/servlet/trd_10052_10051_1_207003_.html"
                                                                                                                   target=_blank>3G上网卡</A> </DIV>
                                <SPAN class="clear"></SPAN></LI>
                        </UL>

                    </DD>
                </DL>

            </DIV>
        </DIV>
        <ul class="nav left">
            <li class="current"><a href="index.html">首页</a></li>
            <li><a href="#">特色农产品</a></li>
            <li><a href="#">联农百货</a></li>
            <li><a href="#">坤农农资</a></li>
            <li><a href="#">优粮惠</a></li>
            <li><a href="#">本地生活</a></li>
            <li><a href="#">优粮农场</a></li>
        </ul>
        <div class="menu_right right">
            <p><a href="#">消费者保障</a></p>
        </div>

    </div>
</div>
