
<!--top -->
<div class="top">
    <div class="topbar">
        <div class="topL left">
            <span>欢迎来到优粮我卖网！ 请  </span><a href="#">登录</a>  <a href="#">免费注册</a>
        </div>
        <div class="topadd left">
            <i class="iconfont ico">&#xe60a;</i>
            <span>送货至：</span><a href="#">山东青岛</a>
        </div>
        <ul class="toplink">
            <li id="topsitenav" class="topmenu">
                <a href="#"  class="select">网站导航<i></i></a>
                <div class="topmenu_sub">
                    <ul>
                        <li><strong>行业市场</strong>
                            <p>
                                <a href="#">原材料</a>
                                <a href="#">工业品</a>
                                <a href="#">电子</a>
                                <a href="#">纺织</a>
                                <a href="#">包装</a>
                                <a href="#">服装</a>
                                <a href="#">鞋帽</a>
                                <a href="#">家装</a>
                                <a href="#">家居百货</a>
                                <a href="#">数码家电</a>
                                <a href="#">小商品</a>
                                <a href="#">农食</a>
                                <a href="#">美妆</a>
                            </p>
                        </li>
                        <li><strong>特色市场</strong>
                            <p>
                                <a href="#">产业带</a>
                                <a href="#">样品中心</a>
                                <a href="#">淘工厂</a>
                                <a href="#">代理加盟</a>
                                <a href="#">公司黄页</a>
                                <a href="#">淘宝货源</a>
                                <a href="#">工业品牌商城</a>
                            </p>
                        </li>
                        <li><strong>采购必应</strong>
                            <p>
                                <a href="#">企业集采</a>
                                <a href="#">大企业采购</a>
                                <a href="#">供应商库</a>
                            </p>
                        </li>
                        <li><strong>社区资讯</strong>
                            <p>
                                <a href="#">资讯</a>
                                <a href="#">生意经</a>
                                <a href="#">商人论坛</a>
                                <a href="#">博客</a>
                                <a href="#">商友圈</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </li>
            <li id="topcustom" class="topmenu">
                <a href="#" class="select">客服中心<i></i></a>
                <div class="topmenu_sub">
                    <p>
                        <a href="#" target="_blank">新手上路</a>
                        <a href="#" target="_blank">买家帮助</a>
                        <a href="#" target="_blank">卖家帮助</a>
                        <a href="#" target="_blank">在线咨询</a>
                    </p>
                </div>
            </li>
            <li id="topmember" class="topmenu">
                <a href="#" class="select">卖家中心<i></i></a>
                <div class="topmenu_sub">
                    <p>
                        <a href="#" target="_blank">发布供应</a>
                        <a href="#" target="_blank">发布采购</a>
                        <a href="#" target="_blank">管理旺铺</a>
                        <a href="#" target="_blank">买卖速配</a>
                        <a href="#" target="_blank">我的留言</a>
                    </p>
                </div>
            </li>
            <li  id="topphone" class="topmenu">
                <a  class="select"><em class="iconfont">&#xe622;</em>手机优粮</a>
                <div class="topmenu_sub">
                    <em></em>
                    <div class="top_phone">
                        <p>扫描我，即可下载优粮我卖网客户端</p>
                        <img src="/public/wap/images/code.jpg" />
                    </div>

                </div>
            </li>

            <li id="topcart" class="topmenu">
                <a href="#" class="select"><em class="iconfont">&#xe602;</em>购物车(<b>10</b>)<i></i></a>
                <div class="topmenu_sub">
                    <p>
                        <a href="#" target="_blank">收藏的货物</a>
                        <a href="#" target="_blank">收藏的供应商</a>
                        <a href="#" target="_blank">交易过的供应商</a>
                    </p>
                </div>
            </li>


            <li id="topuser" class="topmenu">
                <a href="#" class="select">我的优粮<i></i></a>
                <div class="topmenu_sub">
                    <div class="topuser_sub_t">
                        <img src="/public/wap/images/head.png" width="60" >
                        <h3>哇哈哈</h3>
                        <p><a href="#">消息</a> | <a href="#">退出</a></p></div>
                    <div class="topuser_sub_c">
                        <ul class="topuser_list">
                            <li><a href="#">待处理订单</a></li>
                            <li><a href="#">我的关注</a></li>
                            <li><a href="#">咨询回复</a></li>
                            <li><a href="#">我的账户</a></li>
                            <li><a href="#">返修退换货</a></li>
                            <li><a href="#">我的订制商城</a></li>
                        </ul>
                        <p class="para"><strong>最近浏览</strong><a href="#" class="more">更多</a></p>
                        <ul class="topuser_list1">
                            <li><a href="#"><img src="/public/wap/img/10.jpg"></a></li>
                            <li><a href="#"><img src="/public/wap/img/11.jpg"></a></li>
                            <li><a href="#"><img src="/public/wap/img/12.jpg"></a></li>
                            <li><a href="#"><img src="/public/wap/img/13.jpg"></a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="header">
    <div class="logo left"><img src="/public/wap/images/logo.png" /></div>
    <div class="head_r right">
        <p>微信逛优粮</p>
        <img src="/public/wap/images/code.jpg" />
    </div>
    <div class="topsearch right">

        <form action="#" name="search">
            <input type="submit" name="button2" class="searchbtn" id="button2" value="搜 索">
            <input type="text" name="" title="Search" class="searchexitbox" id="searchinput" onfocus="if(value==defaultValue){value='';this.style.color='#666666'}" onBlur="if(!value){value=defaultValue;this.style.color='#cccccc'}" value="请输入关键字搜索商品/品牌/店铺" size="10"/>
        </form>
        <div class="hot-keyword">
            <a href="#" class="current" title="蓝牙键盘">蓝牙键盘</a>
            <a href="#" title="男士羊绒衫">男士羊绒衫</a>
            <a href="#" title="绞肉机">绞肉机</a>
            <a href="#" title="进口洋酒">进口洋酒</a>
            <a href="#" title="水马">水马</a>
            <a href="#" title="围挡">围挡</a>
        </div>
    </div>

</div>