#{extends 'weixinMain.html' /}
#{set title:'悠悠点' /}
<script type="text/javascript" src="/public/weixin/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/public/weixin/js/validate.js"></script>
<header class="topbar titbg">
  <a href="javascript:history.go(-1);" class="backBtn iconfont">&#xe621;</a>
    <div class="headtit">
       提交订单
    </div>
  <a href="#" data-reveal-id="myModal" class="btn_search iconfont">&#xe666;</a> 
</header>


<section class="warp submit page">
    <div class="price1">
        <p>您的菜品总金额：<em>￥${order?.amount}</em></p>
    </div>

    #{if useCoupon == '1'}
    <div class="submit_quan">
        <div class="tit">可使用的现金券*{(<i>10</i>张)}*</div>
        <ul>
            #{list couponList , as : 'coupons'}
            <li><a href="#"><img src="/public/weixin/images/quan${coupons?.couponBatch?.salePrice.format("#")}.jpg"><h3>${coupons?.couponBatch?.name}*{（<i>2</i>张）}*</h3><p>可抵扣<em>${coupons?.couponBatch?.costPrice}元</em></p></a><span><input type="checkbox" name="check" class="txtadd" value="${coupons?.couponBatch?.costPrice}" coupon_id="${coupons?.id}" id="coupon_${coupons?.id}" /></span></li>
            #{/list}
        </ul>
        <div class="tips">提示：现金券可叠加使用，现金券不找零不退款。</div>
    </div>
    #{/if}
    <div class="price">
        <p>需支付：<em id="needPay">￥${order?.amount}</em></p>*{<a href="@{weixin.Application.cancelOrder(orderNumber)}" class="btn2">取消此订单</a>}*
    </div>
    <div class="tit">填写订单信息</div>
    <div class="submit_info">
        <form id="subform" method="POST" action="@{weixin.ChooseDishController.pay()}">
            <input type="hidden" name="goodsType" id= "goodsType" value="${goods}">
    <ul>
        <li><strong><i>*</i>姓名：</strong><span><input type="text" name="orderUser.name" style="width:100%;" class="editbox" id="name"></span></li>
        <li><strong><i>*</i>电话：</strong><span><input type="number" name="orderUser.phone" style="width:100%;"  class="editbox" id="phone"></span></li>
        #{if goods == 'TAKE_AYAY'}
            <li><strong><i>*</i>地址：</strong><span><input type="text" name="orderUser.address" style="width:100%;"  class="editbox" id="address"></span></li>
        #{/if}
        #{if goods == 'BOOK_FOOD'|| goods =='TAKE_AYAY' || goods == 'PACK'}
            <li><strong><i>*</i>日期：</strong><span><input type="date" name="date" style="width:100%;"  class="editbox" id="date"></span></li>
            <li><strong><i>*</i>时间：</strong><span><input type="time" name="time" style="width:100%;"  class="editbox" id="time"></span></li>
        #{/if}
        #{if goods == 'BOOK_FOOD'|| goods == 'DOT_FOOD'}
        <li><strong><i>*</i>桌号：</strong>
          <dl>
          #{list tableMap , as : 'tableList'}
              <dt>${tableList.key.name}</dt>
              #{list tableList.value , as :'table'}
            <dd id="spanid${table?.id}" onclick="changeSpan('${table?.id}')" ><span  >${table?.name}</span><em>${table?.peopleNum}</em></dd>
           #{/list}
          #{/list}
          </dl>
        </li>
        #{/if}
        <li><strong>备注：</strong><span><input type="text" name="orderUser.remark" style="width:100%;"  class="editbox" id="remark"></span></li>
        <li> #{error 'orderUser.name' /} </li>
        <input type="hidden" id="selectableId" name="orderUser.hallTable.id" value="">
        <input type="hidden" name="orderNumber" value="${orderNumber}">
        <input type="hidden" id="needPayPrice" value="${order?.amount}" name="needPayPrice">
        <input type="hidden" id="couponIds" name="couponIds">
        <input type="hidden" id="useCoupon" name="useCoupon" value="${useCoupon}">
    </ul>
    </form>
  </div>
 

</section>
<div class="footbtn" >
  <a href="javascript:void(0)" class="btn1 radius5"  onclick="getSub()">提交订单</a>
</div>
#{include 'weixin/Application/modal.html'/}
<script type="text/javascript">
    $(document).ready(function(){
        $('#useCoupon').val(0);
        $(".txtadd").click(function(){
            var needPay='${order?.amount}';
            var couponIds = "";
            var count = 0;
            $('input[name="check"]:checked').each(function(){
                count++;
                if(parseFloat(needPay) > 0) {
                    var coupon_id = $(this).attr("coupon_id");
                    var coupon_price = $(this).val();
                    needPay = parseFloat(needPay) - parseFloat(coupon_price);
                    couponIds += coupon_id+",";
                } else {
                    $(this).attr("checked",false);
                    showAlart("钱多了");
                }
                $('#couponIds').val(couponIds);
                $('#useCoupon').val(1);
                $('#needPayPrice').val(parseFloat(needPay) < 0 ? 0 : needPay);
                $('#needPay').html(parseFloat(needPay) < 0 ? 0 : needPay);
               // document.getElementById("needPay").innerHTML="￥"+ (parseFloat(needPay) < 0 ? 0 : needPay);
            });
            if(count == 0) {
                $('#couponIds').val('');
                $('#needPayPrice').val('${order?.amount}');
                $('#needPay').html('${order?.amount}');
               $('#useCoupon').val(0);
            }
        });
    });


    function getSub(){
        var goodType=$("#goodsType").val();

        var name=$("#name").val();

       // alert(!isNaN(name))
        if(!isNaN(name))
        {
            showAlart("姓名不能全是数字");
            return;
        }
        if (required(name) == false) {
            showAlart("姓名不能为空！");
            return;
        }
        var phone = $("#phone").val();
        if (required(phone) == false) {
            showAlart("手机号不能为空！");
            return;
        }
        if (isMobile(phone) == false) {
            showAlart("请输入正确的手机号！");
            return;
        }
        if(goodType == 'TAKE_AYAY' || goodType == 'BOOK_FOOD' || goodType == 'PACK') {
            var date = $("#date").val();
            if (required(date) == false) {
                showAlart("日期不能为空！");
                return;
            }
            var time = $("#time").val();
            if (required(time) == false) {
                showAlart("时间不能为空！");
                return;
            }
        }
        if(goodType == 'DOT_FOOD' || goodType == 'BOOK_FOOD'){
            var hallTalbe=$("#selectableId").val();
            if (required(hallTalbe) == false) {
                showAlart("请选择桌号！");
                return;
        }
        }
        if(goodType == 'TAKE_AYAY'){
            var address = $("#address").val();
            if (required(address) == false) {
                showAlart("地址不能为空！");
                return;
            }
        }
        $('#subform').submit();
    }
    function changeSpan(id){

        $(".current").each(function(){
            $(this).removeClass("current");
        });
        var span=$("#spanid"+id)
        if(span.hasClass("current")){
           span.removeClass("current")
            $("#selectableId").val("");
        }else{
            $("#selectableId").val("");
            $("#selectableId").val(id);
            span.addClass("current")
        }
    }
    </script>

</body>
</html>
