#{extends 'systemMain.html' /}
#{set title:'管理员后台' /}
<script>
    function initType(parentId){
        $("#sub"+parentId).toggle();
        $.ajax({
            url:'/system/brand/getSubClassByParentId',
            type:'POST',
            data:{parentId:parentId},
            success:function(data){
                var subClasss=data;
                $("#sub"+parentId).html("");
                $.each(subClasss,function(idx,type){
                    var _type=$("<label class=\"am-checkbox-inline\"> <input type=\"checkbox\"  name=\"productTypes\" value="+type.id+" data-am-ucheck>"+type.name+"</label>");
                    $("#sub"+parentId).append(_type);
                })
            }

        });
    }
</script>
<!-- content start -->
<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">新增标签</strong></div>
    </div>

    <div class="am-tabs am-margin" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#tab1">基本信息</a></li>
        </ul>

        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                <form class="am-form" action="/system/lable/create" method="POST">

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            标签名称
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <input type="text" class="am-input-sm" id="price" name="lable.name" value="">
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" style="color: red;">
                            * #{error 'lable.name' /}
                        </div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-4 am-u-md-2 am-text-right">
                            类别
                        </div>
                        <div class="am-u-sm-8 am-u-md-4">
                            <div id="nameStyle" class="am-form-group am-form-success">
                            #{list items:productTypeList , as :'productType'}
                                <label class="am-checkbox-inline">
                                    <input type="checkbox" id="productType${productType_index}" onclick="initType(this.value)" name="productType.name" value="${productType?.id}" data-am-ucheck>${productType?.name}
                                </label><br>
                                <div id="sub${productType?.id}" style="border:1px solid #ccc;display:none"></div>
                            #{/list}

                            </div>
                        </div>
                        <div class="am-hide-sm-only am-u-md-6" id="nameError">
                        #{error 'productType.name' /}
                        </div>
                    </div>
                         <div class="am-margin">
                             <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
                             <button type="button" class="am-btn am-btn-primary am-btn-xs" onclick="history.go(-1)">放弃保存</button>
                         </div>
                </form>
            </div>

        </div>
    </div>


</div>
<!-- content end -->